* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial, helvetica, sans-serif;
  font-size: medium;
}

/* Small screen (≥576px) */
@media (min-width: 576px) {
  .navbar-nav:first-child {
    flex-direction: column;
  }
  .navbar-nav:last-child {
    margin-left: auto;
    flex-direction: column;
  }
}

/* Medium screen (≥768px) */
@media (min-width: 768px) {
  .navbar-nav:first-child {
    flex-direction: column;
  }
  .navbar-nav:last-child {
    margin-left: auto;
    flex-direction: column;
  }
}

/* Large screen (≥992px) */
@media (min-width: 992px) {
  .navbar-nav:last-child {
    margin-left: auto;
    flex-direction: column;
  }
}

/* Small screen (≥576px) */
@media (min-width: 576px) {
  .table-responsive {
    overflow-x: auto;
  }
}

/* Medium screen (≥768px) */
@media (min-width: 768px) {
  .table-responsive {
    overflow-x: auto;
  }
}

/* Large screen (≥992px) */
@media (min-width: 992px) {
  .table-responsive {
    overflow-x: auto;
  }
}

@media (max-width: 576px) {
  #btn-del-all {
    margin-top: -50px;
  }
}

#btn-add {
  margin-top: 25px;
  background-color: #7f8499;
}

#btn-del-all {
  margin-top: 25px;
  background-color: #ff0000;
}

.table {
  margin-top: 15px;
  text-align: center;
}